server:
  port: 8080
  servlet:    encoding:      charset: utf-8
      
spring:  datasource:    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:    console:      enabled: true
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: create # create, update, none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true